@import "../../assets/scss/variables.scss";

.exchangewrapper-top{
    background: $background-primary;
    padding: 40px 0;
    @media screen and (max-width:767px) {
        padding: 20px 0;
    }
    .exchangewrapper-topinner{
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:767px) {
            display: block;
            text-align: center;
        }
        h1{
            margin-bottom: 0;
            @media screen and (max-width:767px) {
                font-size: 1.4rem;
            }
        }
        .ant-btn{
            padding: 0 50px !important;
            margin-left: 50px;
            @media screen and (max-width:767px) {
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }
}